<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        {% for edu in profile.education.all %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{ edu.title }}</h3>
                    <div class="subheading mb-3">{{ edu.subtitle }}</div>
                    <div>{{ edu.degree }}</div>
                    <p>{{ edu.GPA }}</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">{{ edu.time_line }}</span></div>
            </div>
        {% endfor %}
    </div>
</section>
